In [ ]:
from fnmatch import fnmatch
import os
import pandas as pd

Drive already mounted at /content/mydrive; to attempt to forcibly remount, call drive.mount("/content/mydrive", force_remount=True).

In [ ]:
#Getting the name of each data and its path
imgpathdicom=[]
root = 'data/data/train'
pattern = "*"

for path, subdirs, files in os.walk(root):
    for name in files:
        if fnmatch(name, pattern):
            imgpathdicom.append([os.path.join(path, name),name])

In [ ]:
trainraw=pd.read_csv("train.csv")

In [ ]:
trainraw.head(5)

   filename  0  1  2  3  4  5  6  7  8  ...  13  14  15  16  17  18  19  20  21  22
0      8272  0  0  0  0  0  0  0  1  0  ...   0   0   1   0   0   0   0   0   0   0
1      7833  0  0  0  0  1  0  0  1  0  ...   0   0   0   0   0   0   0   0   0   0
2      8844  0  0  0  0  0  0  0  1  0  ...   0   0   1   0   0   0   0   0   0   0
3      6586  0  0  0  0  0  0  0  1  0  ...   0   0   0   0   0   0   0   0   0   0
4      7666  0  0  0  0  0  0  0  1  0  ...   0   0   0   0   0   0   0   1   0   0

[5 rows x 24 columns]

In [ ]:
#There were some files that had the same name throughout the folders, this removes redundancy and only leaves the first one found.
def itsin(value,liste):
  for i in liste:
    if(i[1]==value):
      return True
  return False
txtpath=[imgpathdicom[0]]
for i in imgpathdicom:
  if(i[1]=="0006628 (1)"):
    continue
  if(not itsin(i[1],txtpath)):
      txtpath.append(i)

In [ ]:
%%time
text=[]
for index, row in trainraw.iterrows():
  for i in txtpath:
    if(row["filename"]==int(i[1])):
      f=open(i[0],"r")
      text.append(f.read())

In [ ]:
trainraw["text"]=text

In [ ]:
trainraw.head(5)

   filename  0  1  ...  21  22                                               text
0      8272  0  0  ...   0   0  Improved outcome at 28 days of age for very lo...
1      7833  0  0  ...   0   0  Chylothorax after posterior spinal instrumenta...
2      8844  0  0  ...   0   0  Childhood pulmonary function following hyaline...
3      6586  0  0  ...   0   0  Treatment of atelectasis of upper lung lobes. ...
4      7666  0  0  ...   0   0  Decision analysis, public health policy, and i...

[5 rows x 25 columns]

In [ ]:
trainraw.to_csv("mydata.csv",index=False)

In [ ]:
train=pd.read_csv("mydata.csv")

In [ ]:
train.head(5)

   filename  0  1  ...  21  22                                               text
0      8272  0  0  ...   0   0  Improved outcome at 28 days of age for very lo...
1      7833  0  0  ...   0   0  Chylothorax after posterior spinal instrumenta...
2      8844  0  0  ...   0   0  Childhood pulmonary function following hyaline...
3      6586  0  0  ...   0   0  Treatment of atelectasis of upper lung lobes. ...
4      7666  0  0  ...   0   0  Decision analysis, public health policy, and i...

[5 rows x 25 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X=vectorizer.fit_transform(train.text.astype(str))
Y=train.drop(["filename","text"],axis=1).to_numpy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, Input,Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import ModelCheckpoint
import tensorflow_hub as hub
!pip install sentencepiece
import sentencepiece
!cp /content/mydrive/MyDrive/Colab_Notebooks/NLP_with_disaster_tweets/tokenization.py .
import tokenization

Requirement already satisfied: sentencepiece in /usr/local/lib/python3.6/dist-packages (0.1.95)

In [ ]:
# version 1.2
convert_abbrev_flag = False
model_type = 'default'
Dropout_num = 0.5
learning_rate = 1e-5
max_len = 512
layers = [] #not including final layer
activation = 'relu' #for the non-final layers
epochs=1
batch_size=8
validation_split=0.2
remove_rows_based_on_cv = True #remove rows based on cross val predictions from train set

In [ ]:
def bert_encode(texts, tokenizer,max_len=512):
    all_tokens = []
    all_masks = []
    all_segments = []
    
    for text in texts:
        text = tokenizer.tokenize(text)
            
        text = text[:max_len-2]
        input_sequence = ["[CLS]"] + text + ["[SEP]"]
        pad_len = max_len - len(input_sequence)

        tokens = tokenizer.convert_tokens_to_ids(input_sequence)
        tokens += [0] * pad_len
        pad_masks = [1] * len(input_sequence) + [0] * pad_len
        segment_ids = [0] * max_len
        
        all_tokens.append(tokens)
        all_masks.append(pad_masks)
        all_segments.append(segment_ids)
    
    return np.array(all_tokens), np.array(all_masks), np.array(all_segments)

# Thanks to https://www.kaggle.com/xhlulu/disaster-nlp-keras-bert-using-tfhub
def build_model(bert_layer, max_len=512):
    input_word_ids = Input(shape=(max_len,), dtype=tf.int32, name="input_word_ids")
    input_mask = Input(shape=(max_len,), dtype=tf.int32, name="input_mask")
    segment_ids = Input(shape=(max_len,), dtype=tf.int32, name="segment_ids")

    _, sequence_output = bert_layer([input_word_ids, input_mask, segment_ids])
    clf_output = sequence_output[:, 0, :]
    
    if model_type=='default':
        # Without Dropout
        for layer in layers:
            clf_output = Dense(layer, activation=activation)(clf_output)
        out = Dense(23, activation='sigmoid')(clf_output)
    elif model_type=='dropout':
        # With Dropout(Dropout_num), Dropout_num > 0
        for layer in layers:
            x = Dropout(Dropout_num)(clf_output)
            clf_output = Dense(layer, activation=activation)(x)
        x = Dropout(Dropout_num)(clf_output)
        out = Dense(23, activation='sigmoid')(x)
    elif model_type=='GlobalAveragePooling1D':
        for layer in layers:
            if Dropout_num>0:
                clf_output = Dropout(Dropout_num)(clf_output)
            clf_output = Dense(layer, activation=activation)(clf_output)
        x = tf.keras.layers.GlobalAveragePooling1D()(sequence_output)
        out = Dense(23, activation='sigmoid')(x)

    model = Model(inputs=[input_word_ids, input_mask, segment_ids], outputs=out)
    model.compile(Adam(lr=learning_rate), loss='binary_crossentropy', metrics=['accuracy'])
    
    return model

In [ ]:
%%time
import time
start=time.time()
module_url = "https://tfhub.dev/tensorflow/bert_en_uncased_L-24_H-1024_A-16/1"#/2 is the updated version. need to try with that
# module_url = "https://tfhub.dev/tensorflow/albert_en_base/1"
bert_layer = hub.KerasLayer(module_url, trainable=True)
end = time.time()
print("Getting BERT module time :{}".format(end - start))

Getting BERT module time :12.693446397781372
CPU times: user 10.8 s, sys: 2.11 s, total: 13 s
Wall time: 12.7 s

In [ ]:
vocab_file = bert_layer.resolved_object.vocab_file.asset_path.numpy()
do_lower_case = bert_layer.resolved_object.do_lower_case.numpy()
tokenizer = tokenization.FullTokenizer(vocab_file, do_lower_case)

In [ ]:
train_input = bert_encode(train.text.values, tokenizer, max_len=max_len)
# test_input = bert_encode(test.TweetText.values, tokenizer, max_len=max_len)
train_labels = train.drop(["filename","text"],axis=1).to_numpy()

print(train_input[0].shape)

(6286, 512)

In [ ]:
model = build_model(bert_layer)
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_word_ids (InputLayer)     [(None, 512)]        0
__________________________________________________________________________________________________
input_mask (InputLayer)         [(None, 512)]        0
__________________________________________________________________________________________________
segment_ids (InputLayer)        [(None, 512)]        0
__________________________________________________________________________________________________
keras_layer (KerasLayer)        [(None, 1024), (None 335141889   input_word_ids[0][0]
                                                                 input_mask[0][0]
                                                                 segment_ids[0][0]
__________________________________________________________________________________________________
tf.__operators__.getitem_2 (Sli (None, 1024)         0           keras_layer[2][1]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 23)           23575       tf.__operators__.getitem_2[0][0]
==================================================================================================
Total params: 335,165,464
Trainable params: 335,165,463
Non-trainable params: 1
__________________________________________________________________________________________________

In [ ]:

checkpoint = ModelCheckpoint('bertwithdropout.h5', monitor='val_loss', save_best_only=True)
start=time.time()
train_history = model.fit(
    train_input, train_labels,
    validation_split=0.2,
    epochs=10,
    callbacks=[checkpoint],
    batch_size=batch_size,
)
end = time.time()
print("Training time :{}".format(end - start))